@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    width: 1174px;
    margin: 0 auto;
}

.containers {
    width: 1500px;
    margin: 0 auto;
}

.AllContainers {
    width: 1920px;
    margin: 0 auto;
}

:root {
    --AppPrimaryColor: #2500f9;
    --AppSecondaryColor: #f55767;
    --AppFontColor: #242f51; 
    --app-hover-color: #2500f9;
    --app-text-color: #616368;
    /* --app-bd-color: #a29bfe; */
}

/* Header Section */

.header-section h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    color: var(--AppFontColor);
    margin-bottom: 30px;
}

.header-section p {
    font-size: 16px;
    line-height: 26px;    
    color: var(--app-text-color);
}

.heading-two h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.heading-two p {
    font-size: 16px;
    line-height: 26px;    
    color: var(--app-text-color);
}

.header-area {
    background-color: #fdfdfe;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.primary-menu ul li {
    display: inline-block;
}

nav.primary-menu ul li a {
    color: var(--AppFontColor);
    text-decoration: none;
    font-size: 16px;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
}

.app-primary-button {
    background-color: var(--AppSecondaryColor);
    color: #fff;
    text-decoration: none;
    padding: 17px 41px;
    border-radius: 50px;
}

.app-primary-button:hover {
    background-color: var(--app-hover-color);
}

.nav-menu-area {
    display: flex;
    align-items: center;
}

.app-banner {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotional-text {
    display: flex;
    align-items: center;
    background-color: #e2eaed;
    border-radius: 30px;
    width: 361px;
    gap: 11px;
}

.promotional-text i {
    background-color: #feaa25;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    padding: 9px;

}

.promotional-text h2 {
    color: var(--AppFontColor);
    font-size: 18px;
    font-weight: 600;
}

.app-banner-content {
    margin-top: 28px;

}

.app-banner-content h2 {
    color: var(--AppFontColor);
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
}

.app-banner-content p {
    color: #616368;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 500px;
}

.app-banner-button a {
    text-decoration: none;
}

.app-banner-button a:last-child {
    margin-left: 28px;
    color: var(--AppPrimaryColor);
}

/* / Header Section */

/* Main Section */

/* companies */
.companies h2 {
    color: var(--AppFontColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 115px;
    margin-bottom: 30px;
    text-align: center;
}

.companies-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 208px;
}

/* /companies */



/* Awesome-apps */
.awesome-apps-area {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}

.picture:hover {
    background-image: url(images/Planning.png);
    background-repeat: no-repeat;

}

.awesome-apps-single-area {
    margin-top: 90px;
}

.awesome-apps-single {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: last baseline;
    margin-bottom: 63px;    
}

.awesome-apps-single:first-child h2 {
    color: #f55767;    
}

.awesome-apps-single:nth-child(2) h2 {
    color: #2563ff;
}

.awesome-apps-single:last-child h2 {
    color: #40975f;
}

/* /Awesome-apps */


/* Jackpots-area */

.jackpots-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 126px;
    margin-top: 150px;
    margin-bottom: 111px;
}

.jackpots-heading h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: var(--AppFontColor);
    position: relative;    
}

.jackpots-heading h2::after {
    content: '';
    width: 5px;
    height: 200px;
    background-color: #b9b9b8;
    position: absolute;
    top: -16px;
    right: -163px;
}

/* /Jackpots-area */


/* Network Effect */

.network-effect {
    text-align: left;
    display: flex;
    gap: 135px;    
}

.automatic:first-child h2 {    
    color: #f55767;
}

.automatic:nth-child(2) h2 {
    color: #2563ff;
}

.automatic:last-child h2 {
    color: #40975f; 
}

.automatic img {
    margin-bottom: 36px;
}

.network-effect-area {
    margin-bottom: 110px;
}

/* /Network Effect */

/* Designed Area */

.designed {
    display: flex;
    align-items: center;
    gap: 111px;
}

.designed-right {
    width: 450px;
}

.designed-right h2 {
    width: 380px;
}

.Learn {
    margin-top: 42px;    
}
/* /Designed Area */

/* border-bottom */
.border-bottom {
    width: 100%;
    height: 2px;
    background-color: #f4f4f4;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* /border-bottom */

/* our-app-section */

.our-app {    
    display: grid;
    grid-gap: 100px;    
    text-align: center;
    /* justify-items: center;
    align-items: center; */
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "d d d d t t t t s s s s"
    "c c c c u u u u r r r r";
    
}

.our-app-heading {
    grid-area: h;    
    background-color: var(--app-bd-color);
}
.our-app-AppDevelopment { 
    grid-area: d; 
    background-color: var(--app-bd-color);
}
.our-app-10TimesAward {
    grid-area: t; 
    background-color: var(--app-bd-color);
}
.our-app-CloudStorage{
    grid-area: s; 
    background-color: var(--app-bd-color);
}
.our-app-Customization {
    grid-area: c; 
    background-color: var(--app-bd-color);
}
.our-app-UX-Planning {
    grid-area: u; 
    background-color: var(--app-bd-color);
}
.our-app-CustomerSupport {
    grid-area: r; 
    background-color: var(--app-bd-color);
}

.OurApp img {
    margin-bottom: 20px;
}

/* /our-app-section */



/* Ultimate Section */


.ultimate { 
    margin-top: 100px;   
    display: grid;       
    text-align: left;
    /* justify-items: center;
    align-items: center; */
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    grid-gap: 10px;
    grid-template-areas: 
    "h h h h h h h h i i i i"
    "d d d d u u u u i i i i"
    "c c c c s s s s i i i i";    
}

.ultimate-heading {
    grid-area: h;    
    background-color: var(--app-bd-color);
}
.ultimate-AppDevelopment { 
    grid-area: d; 
    background-color: var(--app-bd-color);
}
.ultimate-UX-Planning {
    grid-area: u; 
    background-color: var(--app-bd-color);
}
.ultimate-CloudStorage{
    grid-area: c; 
    background-color: var(--app-bd-color);
}
.ultimate-CustomerSupport {
    grid-area: s; 
    background-color: var(--app-bd-color);
}
.Ultimate-image {
    grid-area: i;    
}

.Ultimate img {
    margin-bottom: 20px;
}

.Ultimate-app-button {
    margin-top: 40px;
}

/* /Ultimate Section */


/* Pricing-Table */

.pricing-table-area {
    margin-top: 170px;
}

.pricing-table-top {
    text-align: center;
    width: 57%;
    margin: auto;
}

.pricing-table-bottom{
    margin-top: 82px;
    text-align: center;
}

.pricing-table-button {
    display: flex;
    justify-content: center;
    width: 257px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    margin: auto;
    padding: 2px;
}

.pricing-table-button button {
    padding: 16px 34px;
    border-radius: 50px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    
}

.pricing-table-button button:hover {
    background-color: var(--app-hover-color);
    cursor: pointer;
}

.pricing-table-button .active {
    background-color: var(--AppSecondaryColor);
    color: #fff;
}


.pricing-table-content {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-top: 40px;
}

.single-pricing-table {
    margin: 50px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 3.837px 54.866px 62px 0px rgba(144, 163, 177, 0.18);
    border-radius: 10px;
    border: 2px solid transparent;

}

.single-pricing-table:hover {
    border: 2px solid #ebebeb;
}


.single-pricing-table-header {
    background-color: #f8fafb;
    padding: 80px;    
} 

.pricing-table-price {
    color: var(--AppFontColor);
    font-size: 60px;
    line-height: 58px;
    font-weight: 600;
}

.pricing-table-price span  {
    color: #9fa2aa;
    font-size: 18px;
    line-height: 58px;
    font-weight: 400;
}


.pricing-table-list ul {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pricing-table-list ul li {
    list-style: none; 
    margin-bottom: 30px;
    color: #9fa2aa;
}

.buy-pricing-package {
    margin-bottom: 50px;
}

.pricing-table-footer p {
    color: var(--AppPrimaryColor);
    font-size: 16px;
    margin-bottom: 50px;
}

/* /Pricing-Table */


/* Meet Client Section */

.meet-client-area{  
    margin-top: 100px;  
    display: flex;
    align-items: flex-end;
}
.star {
    color: #ffcc00;
    font-size: 20px;
    line-height: 58px;
    margin: 20px 0;
}

.meet-client-two p {
    width: 600px;
    text-align: justify;
    margin-bottom: 60px;
}

.client-area {
    display: flex;
    justify-content: space-between;
}

.client {
    display: flex;
    gap: 20px;
    align-items: center;
}

.client-name h2 {
    margin-bottom: 5px;
}

.circle {
    font-size: 50px;
    color: #eff3f8;    
}

.circle :hover {
    color: #2500f9;
}

/* /Meet Client Section */


/* Accordion Section */

.accordion-section-area {
    margin-top: 190px;
}

.accordion-top {
    text-align: center;
    width: 57%;
    margin: auto;    
}

.single-accordion {
    background-color: #f5f7fa;
    padding: 20px 60px;
    margin-top: 10px;
}

.single-accordion-heading {
    display: flex;
    justify-content: space-between;
}

.single-accordion-heading h2 {
    margin-bottom: 0;
}

.single-accordion-content p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.single-accordion-content {
    display: none;
}

.single-accordion:first-child{
    margin-top: 66px;
}

.single-accordion:first-child .single-accordion-heading i {
    display: none;
}

.single-accordion:first-child .single-accordion-content {
    display: block;
    font-size: 20px;
    font-weight: 600;
}

/* /Accordion Section */


/* Download Section */

.download-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-area-left img {
    padding-top: 50px;
    padding-right: 50px;
}

/* /Download Section */



/* /Main Section */



/* Footer Section */

.footer-area {
    /* background-color: #09142e; */
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.footer {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    grid-gap: 50px;    
}

.footer-menu ul li a {
    color: #fff;
}

.primary-menu ul li a:hover {
    color: #fcae61;
}

.footer-icon {
    font-size: 50px;
    color: #273043;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-icon:hover {
    color: #ffffff;
}

.footer-paragraph {
    color: #3d465a;
}
/* /Footer Section */